body {
  margin: 0;
}
.users {
  width: 15%;
  float: left;
  height: 700px;
  border-right: 2px solid;
  background-color: #282828;
}
.users ul {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: scroll;
}
.users ul::-webkit-scrollbar { 
  display: none; 
}
.users ul li {
  color: #FFF;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.drawzone {
  width: 60%;
  float: left;
  height: 700px;
  border-right: 2px solid;
}
#messages {
	height: 600px;
	overflow: scroll;
	padding: 0;
	margin: 5px;
}
#messages::-webkit-scrollbar { 
  display: none; 
}
#messages li {
	list-style: none;
  border: 1px solid;
  text-align: center;
  margin: 2px;
  color: #FFF;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
#messages li h4 {
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 18px;
}
#messages li.private {
  border-color: rgb(213, 39, 39);
  color: rgb(213, 39, 39);
}
#message {
	width: 94%;
  margin: 2%;
  border: 1px solid;
  font-size: 16px;
  padding: 2px;
  height: 30px;
  display: block;
}
#send {
	display: block;
  margin: auto;
  height: 40px;
  background-color: #FFF;
  border: 2px solid;
  font-size: 13px;
  border-radius: 3px;
  font-weight: bold;
  padding: 0 20px;
}
.color {
	position: absolute;
	left: 21%;
	border: 1px solid;
  height: 15px;
  width: 15px;
  display: none;
}
.color.erase {
  top: 10%;
  background-color: #FFF;
}
.penSize {
  top: 20%;
  width: 30px;
  background-color: #FFF;
}
canvas {
  display: none;
	position: absolute;
	top: 10%;
	left: 25%;
  cursor: default;
	border: 2px solid;
	background-color: #FFF;
}
.chatzone {
  height: 700px;
  width: 24%;
  float: left;
  background-color: #282828;
}