body {
  margin: 0;
}
.users {
  width: 15%;
  float: left;
  height: 700px;
  border-right: 2px solid;
  background-color: #FFF;
}
.drawzone {
  width: 60%;
  float: left;
  height: 700px;
  border-right: 2px solid;
  background-color: #DDD;
}
#messages {
	height: 600px;
	overflow: scroll;
	padding: 0;
	margin: 5px;
}
#messages li {
	list-style: none;
    border: 1px solid;
    text-align: center;
    margin: 2px;
    border-radius: 7px;
}
#messages li.private {
  border-color: red;
  color: red;
}
#message {
	width: 100%;
    margin: 5px;
    border: 1px solid;
    font-size: 16px;
    padding: 2px;
    display: block;
}
#send {
	display: block;
    margin: auto;
    height: 30px;
    background-color: #FFF;
    border: 2px solid;
    font-size: 13px;
    border-radius: 3px;
}
.color {
	position: absolute;
	left: 21%;
	border: 1px solid;
  height: 15px;
  width: 15px;
}
.color.erase {
  top: 10%;
  background-color: #FFF;
}
.color.black {
  background-color: #000;
  top: 15%;
}
.color.red {
  background-color: red;
  top: 20%;
}
.color.green {
  background-color: green;
  top: 25%;
}
.color.blue {
  background-color: blue;
  top: 30%;
}
.color.yellow {
  background-color: yellow;
  top: 35%;
}
.color.brown {
  background-color: brown;
  top: 40%;
}
.color.orange {
  background-color: orange;
  top: 45%;
}
canvas {
  display: none;
	position: absolute;
	top: 10%;
	left: 25%;
  cursor: default;
	border: 2px solid;
	background-color: #FFF;
}
.chatzone {
  width: 24%;
  float: left;
}
p.blue {
  color: blue;
}
p.red {
  color: red;
}
p.green {
  color: green;
}