body {
  margin: 0;
}
.users {
  width: 15%;
  float: left;
  height: 700px;
  border-right: 2px solid;
  background-color: #FFF;
}
.drawzone {
  width: 60%;
  float: left;
  height: 700px;
  border-right: 2px solid;
  background-color: #DDD;
}
#messages {
	height: 600px;
	overflow: scroll;
	padding: 0;
	margin: 5px;
}
#messages li {
	list-style: none;
    border: 1px solid;
    text-align: center;
    margin: 2px;
    border-radius: 7px;
}
#message {
	width: 100%;
    margin: 5px;
    border: 1px solid;
    font-size: 16px;
    padding: 2px;
    display: block;
}
#send {
	display: block;
    margin: auto;
    height: 30px;
    background-color: #FFF;
    border: 2px solid;
    font-size: 13px;
    border-radius: 3px;
}
#erase {
	position: absolute;
	top: 10%;
	left: 21%;
	background-color: #FFF;
	border: 1px solid;
	border-radius: 2px;
}
canvas {
  display: none;
	position: absolute;
	top: 10%;
	left: 25%;
  cursor: default;
	border: 2px solid;
	background-color: #FFF;
}
.chatzone {
  width: 24%;
  float: left;
}